MasterServcie/Connected Services/ServiceImg/ServiceImg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceImg" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50953/ServiceImg.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50953/ServiceImg.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50953/ServiceImg.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceImg_TakeHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeHtml" />
  </wsdl:message>
  <wsdl:message name="IServiceImg_TakeHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImg_ParseHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseHtml" />
  </wsdl:message>
  <wsdl:message name="IServiceImg_ParseHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImg_TakeLink_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeLink" />
  </wsdl:message>
  <wsdl:message name="IServiceImg_TakeLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceImg">
    <wsdl:operation name="TakeHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImg/TakeHtml" message="tns:IServiceImg_TakeHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImg/TakeHtmlResponse" message="tns:IServiceImg_TakeHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImg/ParseHtml" message="tns:IServiceImg_ParseHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImg/ParseHtmlResponse" message="tns:IServiceImg_ParseHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImg/TakeLink" message="tns:IServiceImg_TakeLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImg/TakeLinkResponse" message="tns:IServiceImg_TakeLink_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceImg" type="tns:IServiceImg">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TakeHtml">
      <soap:operation soapAction="http://tempuri.org/IServiceImg/TakeHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseHtml">
      <soap:operation soapAction="http://tempuri.org/IServiceImg/ParseHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeLink">
      <soap:operation soapAction="http://tempuri.org/IServiceImg/TakeLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImg">
    <wsdl:port name="BasicHttpBinding_IServiceImg" binding="tns:BasicHttpBinding_IServiceImg">
      <soap:address location="http://localhost:50953/ServiceImg.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>